@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: comfortaa;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg,rgb(0, 105, 153),rgb(0, 175, 175),rgb(0, 247, 193)); 
}
body{
    background-color: rgb(255, 255, 255);
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    top:0;
    transition: all 0.5s ease 0s;
    background-color: black;
    color: white;
    position: fixed;
   display: flex;
   z-index: 999;
   width: 100%;
   padding: 10px;
   align-items: center;
   justify-content: space-between;
}
.navContents{
    display: flex;
    margin-right: 20px;
}
.navItem{
    cursor: pointer;
    padding: 3px;
    margin-left: 25px;
    font-weight: bold;
    margin-right: 25px;
    font-size: medium;
}
.navItem:hover{
    color: rgb(0, 204, 255);
    transition: all 0.5s ease 0s;
}
.navBrand img{
    border-radius: 7px;
}
.navBrand{
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    padding: 5px;
    border-radius:5px;
    align-items: center;
}
.bodyBlock1{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    display: flex;
    background: url("BG.jpg");
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.bodyBlock2{
    width: 70%;
    cursor: pointer;
    margin-top: 120px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(223, 223, 223);
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.bodyBlock3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    margin-top: 100px;
    grid-gap: 30px;
}
.fHead{
    display: grid;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.fHead::after{
    content: 'Origano provides you with remarkable features and Also best delivery servies';
    font-size: small;
    padding: 20px;
    color:rgb(112, 112, 112);
}
.temp{
    width: 250px;
    display: flex;
    align-items: center;
    grid-gap: 30px;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    color: black;
    background-color:rgb(224, 224, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.h1{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.temp .img{
    width: 135px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0,0.1);
    border-radius: 10px;
    height: 105px;
}
.ftext{
    font-family: 'PT Serif';
    font-size: medium;
    text-align: justify;
}
.head{
    display: grid;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}
.head::after{
    content: "Our Products are Long-lasting, Artistic and also used and recommended by many professionals";
    font-size: small;
    color: rgb(112, 112, 112);
    padding: 20px;
}
.proImg{
    margin: 30px;
    width: 100vh;
    height: auto;
}
.bHead{ 
    letter-spacing: 2PX;
    color:white;
    font-weight: bolder;
    padding: 60px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 5vh;
}
.hButton{
    padding: 10px;
    border-radius: 10px;
    background:linear-gradient(90deg,rgb(3, 96, 158),rgb(2, 196, 196));
    color: white;
    font-size: 4vh;
    font-weight: bold;
    border: none;
}
.hButton:active{
    transition: all 0.5s ease 0s;
    opacity: 0.4;
}
.hText{
    display: grid;
    font-size: xx-large;
}
.hText::after{
    content: 'Origano provides you with hand crafted Trumbones with long lasting capabilities';
    padding: 20px;
    color: rgb(212, 212, 212);
    font-size: X-small;
}
.feats{
    display: flex;
    grid-gap:30px;
}
.b1{
    font-size: 25PX;
    margin-left: 10px;
    font-weight: bolder;
}
.navTog{
    display: none;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    transform: scaleX(-1);
}
.navCancel{
    margin: 5px;
    margin-right: 25px;
    width: 35px;
    height: 35px;
}
.togContents{
    z-index: 1;
    position: fixed;
    display:none;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform-origin: top;
}
.navcolor{
    color: black;
    background-color: white;
}
.openTog{
    animation-name: openNav;
   animation-duration: 0.6s;
}
.closeTog{
    animation-name: closeNav;
    animation-duration: 0.6s;
}
.togItem{
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    width: auto;
}
.togItem:hover{
    color: black;
    background: linear-gradient(90deg,rgb(0, 107, 126),aqua);
}
.bodyBlock4{
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap:30px;
}
.wHead{
    display: grid;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.wHead::after{
    content: "Are you a beginer ? If so get to know how to play trumbone thought by one of the expert";
    font-size: small;
    padding: 20px;
    color:rgb(112, 112, 112);
}
.frame{
  margin: 160px;
  margin-top: 0px;
  padding: 20px;
  grid-gap:10px;
  background-color: rgb(223, 223, 223);
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text1{
  font-size: medium;
  font-family: 'PT Serif';
  text-align: justify;
}
.frameText{
  display: flex;
  align-items: center;
  padding: 20px;
}
.video{
 width: 500px;
 height: 280px;
}
@media (max-width:900px){
    .frame{
        flex-direction: column;
      }
    .temp{
        width: 80%;
    }
    .feats{
        align-items: center;
    }
    .ftext{
        font-size: large;
    }
    .text1{
        text-align: justify;
        font-size: medium;
        font-weight: normal;
      }
      .video{
        width: 400px;
        height: 220px;
     }
}
@media (max-width: 800px) {
    *{
        font-size: 20px;
        font-weight: bold;
    }
    .temp .h1{
        font-size:larger;
    }
    .ftext{
        font-size: large;
        font-weight:lighter;
    }
    .navContents{
        display: none;
    }
    .navTog{
       display: block;
    }
    .togContents{
        display: grid;
    }
    .proImg{
        width: 400px;
        height: auto;
    }
    .feats{
        flex-direction: column;
    }
    .frame{
      flex-direction: column;
    }
    .text1{
      text-align: justify;
      font-size: medium;
      font-weight: normal;
    }
     .video{
       width: 300px;
       height: 220px;
    }
}
.navC{
  transition: none;
  color: rgb(0, 156, 196);
  border-bottom: 2px rgb(0, 156, 196) solid;
}
.hidden{
    display: none;
}
.appear{
    animation-name: app;
    animation-duration: 0.5s;
    opacity: 1;
}

@keyframes openNav { 
    0%{
        transform: rotateX(-90deg);
    }
    75%{
        transform: rotateX(-10deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes closeNav {
    0%{
        transform: rotateX(0deg);
    }
    75%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}
@keyframes app {
    0%{
        opacity: 0;
    }
    45%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
